In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings(action = 'ignore')

### 성형외과를 바꿀 raw 데이터 불러오기

In [37]:
df = pd.read_excel('FINAL_NUM_1029.xlsx')
copy_df = df.copy()

ps_rm_cnt = ps_remove_count()

merge = pd.merge(copy_df,ps_rm_cnt, how='outer',on='DONG_CODE')
df = merge.fillna(0)
del(df['HOSPITAL_NUM_x'])
df.rename(columns={'HOSPITAL_NUM_y':'HOSPITAL_NUM'},inplace=True)

file_name = "법정동_성형외과_제외_data.xlsx"
df.to_excel(file_name, index_label="idx")

In [38]:
def ps_remove_count():
    df = pd.read_excel('HOSPITAL_DM.xlsx',sheet_name='워크시트 익스포트')
    df = df[~df['HOSPITAL_NAME'].str.contains('성형')] # 성형외과 제거
    tmp_df = df[['HOSPITAL_CODE','HOSPITAL_NAME','HOSPITAL_TYPE','ADD_STR','DONG','DONG_CODE']]
    
    std = pd.read_excel('행정구역분류.xlsx',sheet_name='행정동 및 법정동코드와의 연계표')
    std.columns = std.loc[0]
    std = std[1:]
    std_seoul = std[std['시도'] == '서울특별시']
    std_df = std_seoul[['시군구','행정동\n(행정기관명)','법정동','행정기관코드','법정동코드','법정동 관할구역\n분할여부']][1:]
    std_df.columns = ['시군구','행정동','법정동','행정기관코드','법정동코드','분할여부']
    
    data = tmp_df['DONG_CODE'].value_counts()
    x = pd.DataFrame(data)
    x.rename(columns={'DONG_CODE':'HOSPITAL_NUM'},inplace=True)
    x['DONG_CODE'] = x.index
    x.index = range(len(x))

    return x

In [35]:
ps_remove_count()

     HOSPITAL_NUM   DONG_CODE
0             578  1165010800
1             510  1168010100
2             468  1168010700
3             394  1135010500
4             376  1168010800
..            ...         ...
397             1  1156011900
398             1  1114013900
399             1  1111016500
400             1  1114017400
401             1  1129011700

[402 rows x 2 columns]

In [12]:
copy_df = df.copy()

In [20]:
x.index = range(len(x))
x

     HOSPITAL_NUM   DONG_CODE
0             578  1165010800
1             510  1168010100
2             468  1168010700
3             394  1135010500
4             376  1168010800
..            ...         ...
397             1  1156011900
398             1  1114013900
399             1  1111016500
400             1  1114017400
401             1  1129011700

[402 rows x 2 columns]

In [21]:
merge = pd.merge(copy_df,x, how='outer',on='DONG_CODE')

In [22]:
df = merge.fillna(0)
df

,DONG_CODE,SI_DO,GU,DONG,ACADEMY_NUM,KINDER_NUM,FIRE_NUM,ELE_SCH_NUM,MID_SCH_NUM,HIGH_SCH_NUM,CCTV_NUM,POLICE_NUM,BIKE_NUM,CAR_SHR_NUM,BUS_NUM,SUBWAY_NUM,...,PHARM_NUM,LEISURE_NUM,KIDS_NUM,HOSPITAL_NUM_x,SPORT_NUM,GYM_NUM,GOLF_NUM,STARBUCKS_NUM,MC_NUM,CON_NUM,NOISE_VIBRATION_NUM,CHILD_MED_NUM,CAFE_NUM,PARK_NUM,STD_DAY,HOSPITAL_NUM_y
0,1114012500,서울특별시,중구,충무로2가,2,0,0,0,0,0,4,0,1,0,2,1,...,5,0,0,20,0,1,0,1,0,12,1060,5,32,0,2000-01-01,20.0
1,1114012600,서울특별시,중구,명동1가,0,0,0,0,0,0,4,0,0,0,0,0,...,2,0,0,8,0,1,2,0,1,2,1060,4,18,0,2000-01-01,8.0
2,1114012700,서울특별시,중구,명동2가,0,0,0,0,0,0,11,1,1,0,0,0,...,4,0,0,19,0,0,0,3,0,8,1060,11,33,0,2000-01-01,18.0
3,1114012800,서울특별시,중구,남산동1가,0,0,0,0,0,0,5,0,0,0,1,0,...,1,1,0,7,0,0,0,0,0,3,1060,1,2,0,2000-01-01,7.0
4,1114012900,서울특별시,중구,남산동2가,0,0,0,2,0,0,20,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,2,1060,0,14,0,2000-01-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1130510300,서울특별시,강북구,수유동,116,30,1,8,5,1,198,4,19,10,89,3,...,61,9,3,145,0,16,4,0,0,102,2204,17,95,0,2000-01-01,142.0
463,1130510400,서울특별시,강북구,우이동,6,0,0,0,1,0,27,0,6,1,9,3,...,6,0,0,6,0,0,0,0,0,14,2204,1,10,3,2000-01-01,6.0
464,1132010700,서울특별시,도봉구,창동,205,130,1,18,3,3,105,2,32,8,67,4,...,43,22,3,145,0,31,12,2,0,94,1289,12,111,3,2000-01-01,145.0
465,1132010800,서울특별시,도봉구,도봉동,30,80,0,6,2,2,54,2,18,3,46,3,...,16,1,0,37,0,7,7,0,1,56,1289,2,43,1,2000-01-01,37.0
466,1132010500,서울특별시,도봉구,쌍문동,154,50,0,12,5,4,62,2,16,8,46,0,...,29,3,0,86,0,20,6,0,1,80,1289,4,66,1,2000-01-01,86.0

In [23]:
del(df['HOSPITAL_NUM_x'])

In [24]:
df.rename(columns={'HOSPITAL_NUM_y':'HOSPITAL_NUM'},inplace=True)
df

,DONG_CODE,SI_DO,GU,DONG,ACADEMY_NUM,KINDER_NUM,FIRE_NUM,ELE_SCH_NUM,MID_SCH_NUM,HIGH_SCH_NUM,CCTV_NUM,POLICE_NUM,BIKE_NUM,CAR_SHR_NUM,BUS_NUM,SUBWAY_NUM,...,ANI_HSPT_NUM,PHARM_NUM,LEISURE_NUM,KIDS_NUM,SPORT_NUM,GYM_NUM,GOLF_NUM,STARBUCKS_NUM,MC_NUM,CON_NUM,NOISE_VIBRATION_NUM,CHILD_MED_NUM,CAFE_NUM,PARK_NUM,STD_DAY,HOSPITAL_NUM
0,1114012500,서울특별시,중구,충무로2가,2,0,0,0,0,0,4,0,1,0,2,1,...,0,5,0,0,0,1,0,1,0,12,1060,5,32,0,2000-01-01,20.0
1,1114012600,서울특별시,중구,명동1가,0,0,0,0,0,0,4,0,0,0,0,0,...,0,2,0,0,0,1,2,0,1,2,1060,4,18,0,2000-01-01,8.0
2,1114012700,서울특별시,중구,명동2가,0,0,0,0,0,0,11,1,1,0,0,0,...,0,4,0,0,0,0,0,3,0,8,1060,11,33,0,2000-01-01,18.0
3,1114012800,서울특별시,중구,남산동1가,0,0,0,0,0,0,5,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,3,1060,1,2,0,2000-01-01,7.0
4,1114012900,서울특별시,중구,남산동2가,0,0,0,2,0,0,20,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,2,1060,0,14,0,2000-01-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1130510300,서울특별시,강북구,수유동,116,30,1,8,5,1,198,4,19,10,89,3,...,8,61,9,3,0,16,4,0,0,102,2204,17,95,0,2000-01-01,142.0
463,1130510400,서울특별시,강북구,우이동,6,0,0,0,1,0,27,0,6,1,9,3,...,0,6,0,0,0,0,0,0,0,14,2204,1,10,3,2000-01-01,6.0
464,1132010700,서울특별시,도봉구,창동,205,130,1,18,3,3,105,2,32,8,67,4,...,7,43,22,3,0,31,12,2,0,94,1289,12,111,3,2000-01-01,145.0
465,1132010800,서울특별시,도봉구,도봉동,30,80,0,6,2,2,54,2,18,3,46,3,...,4,16,1,0,0,7,7,0,1,56,1289,2,43,1,2000-01-01,37.0
466,1132010500,서울특별시,도봉구,쌍문동,154,50,0,12,5,4,62,2,16,8,46,0,...,7,29,3,0,0,20,6,0,1,80,1289,4,66,1,2000-01-01,86.0